In [1]:
import tushare as ts
import pandas as pd

In [2]:
pro = ts.pro_api()

In [39]:
# 获取申万一级行业列表
df_l1 = pro.index_classify(level='L1', src='SW')
# 获取申万二级行业列表
df_l2 = pro.index_classify(level='L2', src='SW')
# 获取申万三级级行业列表
df_l3 = pro.index_classify(level='L3', src='SW')

In [42]:
df_l1.to_csv('./data/sw_l1.csv', encoding='utf_8_sig', index=False)
df_l2.to_csv('./data/sw_l2.csv', encoding='utf_8_sig', index=False)
df_l3.to_csv('./data/sw_l3.csv', encoding='utf_8_sig', index=False)

In [44]:
# read CSV file 
# pd.read_csv('./data/sw_l1.csv', encoding='utf_8_sig')

In [5]:
#获取黄金分类的成份股
df = pro.index_member(index_code='801053.SI')

In [6]:
df

   index_code   con_code   in_date out_date
0   801053.SI  600766.SH  20140221     None
1   801053.SI  600687.SH  20140221     None
2   801053.SI  000975.SZ  20190708     None
3   801053.SI  600311.SH  20140221     None
4   801053.SI  600489.SH  20140221     None
5   801053.SI  600547.SH  20140221     None
6   801053.SI  600988.SH  20140221     None
7   801053.SI  601899.SH  20140221     None
8   801053.SI  002155.SZ  20140221     None
9   801053.SI  002237.SZ  20140221     None
10  801053.SI  601069.SH  20150129     None
11  801053.SI  600385.SH  20160701     None

In [44]:
df = pro.daily(ts_code='601899.SH', start_date='20190701', end_date='20190830')

In [45]:
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,601899.SH,20190830,3.64,3.70,3.63,3.66,3.70,-0.04,-1.0811,1274456.84,467081.098
1,601899.SH,20190829,3.62,3.70,3.61,3.70,3.64,0.06,1.6484,1579376.05,578097.155
2,601899.SH,20190828,3.69,3.70,3.62,3.64,3.69,-0.05,-1.3550,1621540.48,593139.452
3,601899.SH,20190827,3.66,3.72,3.64,3.69,3.69,0.00,0.0000,1820001.41,668406.090
4,601899.SH,20190826,3.73,3.77,3.67,3.69,3.63,0.06,1.6529,2156233.93,800903.557
5,601899.SH,20190823,3.60,3.65,3.58,3.63,3.62,0.01,0.2762,1002011.36,362096.334
6,601899.SH,20190822,3.66,3.66,3.61,3.62,3.66,-0.04,-1.0929,998388.37,362373.669
7,601899.SH,20190821,3.69,3.69,3.66,3.66,3.70,-0.04,-1.0811,966722.90,354938.144
8,601899.SH,20190820,3.64,3.71,3.62,3.70,3.68,0.02,0.5435,1815903.40,666060.194
9,601899.SH,20190819,3.66,3.68,3.62,3.68,3.71,-0.03,-0.8086,1986514.11,724358.423
10,601899.SH,20190816,3.72,3.74,3.69,3.71,3.71,0.00,0.0000,1496298.83,554886.026
11,601899.SH,20190815,3.77,3.78,3.69,3.71,3.72,-0.01,-0.2688,2185544.32,816343.915
12,601899.SH,20190814,3.70,3.76,3.68,3.72,3.83,-0.11,-2.8721,2231813.02,830019.062
13,601899.SH,20190813,3.76,3.87,3.73,3.83,3.71,0.12,3.2345,3094291.03,1176951.535
14,601899.SH,20190812,3.72,3.72,3.67,3.71,3.73,-0.02,-0.5362,1366389.62,504382.239
15,601899.SH,20190809,3.79,3.82,3.72,3.73,3.80,-0.07,-1.8421,1951463.72,737695.153
16,601899.SH,20190808,3.85,3.88,3.76,3.80,3.78,0.02,0.5291,2855911.75,1091029.817
17,601899.SH,20190807,3.75,3.82,3.73,3.78,3.69,0.09,2.4390,3230503.09,1222506.083
18,601899.SH,20190806,3.80,3.85,3.65,3.69,3.79,-0.10,-2.6385,3874615.57,1442662.291
19,601899.SH,20190805,3.57,3.83,3.57,3.79,3.58,0.21,5.8659,4581776.44,1711798.584
20,601899.SH,20190802,3.64,3.66,3.56,3.58,3.58,0.00,0.0000,1369289.69,493236.703
21,601899.SH,20190801,3.56,3.60,3.52,3.58,3.66,-0.08,-2.1858,1676970.88,599389.558
22,601899.SH,20190731,3.62,3.67,3.60,3.66,3.63,0.03,0.8264,1624588.17,590928.835
23,601899.SH,20190730,3.58,3.63,3.56,3.63,3.57,0.06,1.6807,1676239.40,602459.359
24,601899.SH,20190729,3.59,3.60,3.55,3.57,3.58,-0.01,-0.2793,811507.31,289893.542
25,601899.SH,20190726,3.57,3.58,3.53,3.58,3.61,-0.03,-0.8310,1104885.84,392964.661
26,601899.SH,20190725,3.61,3.63,3.58,3.61,3.64,-0.03,-0.8242,1283708.77,461568.398
27,601899.SH,20190724,3.60,3.64,3.59,3.64,3.61,0.03,0.8310,1249484.52,451288.238
28,601899.SH,20190723,3.56,3.61,3.56,3.61,3.61,0.00,0.0000,929372.60,332945.259
29,601899.SH,20190722,3.60,3.63,3.54,3.61,3.67,-0.06,-1.6349,1447239.90,520057.928
30,601899.SH,20190719,3.62,3.69,3.58,3.67,3.53,0.14,3.9660,2685175.60,980937.232
31,601899.SH,20190718,3.60,3.61,3.52,3.53,3.52,0.01,0.2841,1322527.28,470818.812
32,601899.SH,20190717,3.53,3.55,3.50,3.52,3.57,-0.05,-1.4006,937197.50,329889.608
33,601899.SH,20190716,3.53,3.58,3.52,3.57,3.55,0.02,0.5634,868712.80,309321.289
34,601899.SH,20190715,3.53,3.56,3.48,3.55,3.52,0.03,0.8523,992421.00,349883.320
35,601899.SH,20190712,3.54,3.56,3.49,3.52,3.58,-0.06,-1.6760,1215739.73,428024.229
36,601899.SH,20190711,3.60,3.64,3.55,3.58,3.48,0.10,2.8736,2110545.11,758833.387
37,601899.SH,20190710,3.62,3.65,3.57,3.58,3.65,-0.07,-1.9178,1017989.56,366622.498
38,601899.SH,20190709,3.65,3.66,3.61,3.65,3.70,-0.05,-1.3514,1002113.67,364207.042
39,601899.SH,20190708,3.70,3.72,3.63,3.70,3.76,-0.06,-1.5957,1991713.60,730919.478
40,601899.SH,20190705,3.72,3.77,3.72,3.76,3.72,0.04,1.0753,1333148.81,498832.118
41,601899.SH,20190704,3.82,3.85,3.69,3.72,3.83,-0.11,-2.8721,2726806.35,1027790.271
42,601899.SH,20190703,3.96,3.99,3.82,3.83,3.78,0.05,1.3228,3394643.06,1315641.436
43,601899.SH,20190702,3.71,3.79,3.68,3.78,3.74,0.04,1.0695,2356535.89,880675.447
44,601899.SH,20190701,3.65,3.77,3.62,3.74,3.77,-0.03,-0.7958,3039325.27,1128537.599